<!--The content below is only a placeholder and can be replaced.-->
<head>
    <style>
    a {
        color: hotpink;
    }
                body {
                    color: blue;
                }
                
                h1 {
                    color: rgb(0, 55, 128);
                }
                #serif {
    font-family: "Times New Roman", Times, serif;
}
    </style>
    </head>

<div style="text-align:center">
  <h1 id="serif">
    {{ title }}
  </h1>
</div>

<nav class="heroes">
  <span class="badge"><a routerLink="/AddEmployee">Employee Registration</a></span>
  <span class="badge"><a routerLink="/SkillRegistration">SkillRegistration</a></span>
  <span class="badge"><a routerLink="/SkillSearch">SkillSearch</a></span>
  <span class="badge"><a routerLink="/SkillUpdate">Skill Update</a></span> 
</nav>
<div>
  <router-outlet></router-outlet>
</div>